{% extends "layout.html" %}

{% block content %}
<h1>Welcome to American Historyland Senior Citizen Mobile Home Park</h1>
    <p>American Historyland is a premier senior citizen mobile home park.
    We are located in King George County Virginia off of Caledon Rd. midway
    between Stafford and King George.</p>
    <p style="color:red">Check out our open rentals!</p>
{% endblock %}
