{% extends "layout.html" %}

{% block content %}
<h1>Meet our Employees!</h1>
    <span class="center"><img src="static/images/piggy.jpg" height="420"></span>
    <p style="color:red">Hollis Pultz</p>
{% endblock %}
