{% extends "layout.html" %}

{% block content %}

    <h1>A Little Bit About Us</h1>
    <span class="right"><img src="static/images/pa_on_mini_bike.png" alt="Thomas Vassar" /></span>
    <p>We are a family owned and operated senior citizen mobile home park.
    Currently, we rent our quality units to seniors 55 and over. Our two owners,
    Hollis and Brenda Pultz, welcome seniors to come live in our pleasant hole
    in the woods, American Historyland.</p>

{% endblock %}
