{% extends "layout.html" %}

{% block content %}

    <h1>Resident Account</h1>

    {% if message != ''%}
        <p><span style="color:red">{{message}}</span></p>
    {% endif %}

    {% if name == ''%}

        <h3>Login</h3>
        <form method="POST" action="/account">
            <p>username: <input type="text" name="username" value="{{username}}" required/></p>
            <p>password: <input type="password" name="password" required/></p>
            <p><input type="submit"/></p>
        </form>
        <p>Have you activated your account yet? If not <a href="/activate_account">click here.</a></p>

    {% else %}

        <h3>Welcome {{name}}!</h3>
        <p><a href="/logout">Logout</a></p>
        
    {% endif %}


{% endblock %}
