{% extends "layout.html" %}

{% block content %}

    <h1>Resident Account</h1>

    {% if message != ''%}
        <p><span style="color:red">{{message}}</span></p>
    {% endif %}

        <h3>Activate Account</h3>
        <form method="POST" action="/activate_account">
            <table>
                <tr><td><p>username: </td><td><input type="text" name="username" value="{{username}}" required/></p></td></tr>
                <tr><td><p>password: </td><td><input type="password" name="password"/ required></p></td></tr>
                <tr><td><p>password: </td><td><input type="password" name="verify_password" required/></p></td></tr>
                <tr><td><p>sex: </td><td><select id="id" name="sex" required><option value="male">Male</option><option value="female">Female</option></select></p></td></tr>
                <tr><td><p>activation key: </td><td><input type="text" name="key" value="{{key}}" required/></p></td></tr>
                <tr><td><p><input type="submit" value="Activate Account" required/></p></td></tr>
            </table>
        </form>


{% endblock %}
