{% extends "layout.html" %}

{% block content %}

<h1>Senior Activities at the Park</h1>

<h2>Here are some of the activities we have planned for our wonderful residents!</h2>
<table>
    {% for activity in activities %}
    <tr><td>{{activity.name}}</td><td>{{activity.location}}</td><td>${{activity.cost}}</td><td>{{activity.event_date}}</td><td>{{activity.to_char}}</td></tr>
    {% endfor %}
</table>

<h2>Here you can submit a new activity for the seniors!</h2>
<form method="POST" action="/activities">

    <table>
        <tr><td>Name: </td><td><input type="text" size="35" name="name" required /></td></tr>
        <tr><td>Location: </td><td><input type="text" size="40" name="location" required /></td></tr>
        <tr><td>Cost: </td><td>$<input type="number" name="cost" min="0" max="50" step="any" required /></td></tr>
        <tr><td>Date: </td><td><input type="date" name="event_date" required /></td></tr>
        <tr><td>Time: </td><td><input type="time" name="event_time" required /></td></tr>
    </table>

    <input type="submit" value="Sumbit Activity">
</form>

{% endblock %}
