{% extends "layout.html" %}

{% block content %}

    <h1>Oh No! We seem to be experiencing some dificulties</h1>
    <p>We are having some issues with our database service at the moment. Please
    check back later.</p>

{% endblock %}
