<!DOCTYPE HTML>
<html ng-app="AHPchat">

<head>
  <title>American Historyland</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="static/js/modernizr-1.5.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
</head>

<body>
  <div id="main">
    <header>
      <div id="logo">
        <!-- class="logo_colour", allows you to change the colour of the text -->
        <h1><a href="/">American Historyland<span class="logo_colour"></span></a></h1>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li><a href="/" 
              {% if selected == "home" %} 
                  style="color:#00D4E4"
              {% endif %}
                  >Home</a></li>

          <li><a href="/about"
              {% if selected == "about" %} 
                  style="color:#00D4E4"
              {% endif %}
                  >About</a></li>

          <li><a href="/rentals"
              {% if selected == "rentals" %} 
                  style="color:#00D4E4"
              {% endif %}
                  >Rentals</a></li>

          <li><a href="/activities"
              {% if selected == "activities" %} 
                  style="color:#00D4E4"
              {% endif %}
                  >Activities</a></li>

          <li><a href="/search"
              {% if selected == "search" %} 
                  style="color:#00D4E4"
              {% endif %}
                  >Search</a></li>

          <li><a href="/services"
              {% if selected == "services" %} 
                  style="color:#00D4E4"
              {% endif %}
                  >Services</a>
            <ul>
              <li> 

              {% for service in services %}      
                <a href="/services/{{service.code}}">{{service.name}}
              {% endfor %}

              </a></li>
            </ul>
          </li>

          {% if name == "" %}
          <li><a href="/account"
              {% if selected == "account" %} 
                  style="color:#00D4E4"
              {% endif %}
                  >Login</a></li>
          {% endif %}

          <!--          <li><a href="#">Example Drop Down</a> -->
          <!--            <ul> -->
          <!--              <li><a href="#">Drop Down One</a></li> -->
          <!--              <li><a href="#">Drop Down Two</a> -->
          <!--                <ul> -->
          <!--                  <li><a href="#">Sub Drop Down One</a></li> -->
          <!--                  <li><a href="#">Sub Drop Down Two</a></li> -->
          <!--                  <li><a href="#">Sub Drop Down Three</a></li> -->
          <!--                  <li><a href="#">Sub Drop Down Four</a></li> -->
          <!--                  <li><a href="#">Sub Drop Down Five</a></li> -->
          <!--                </ul> -->
          <!--              </li> -->
          <!--              <li><a href="#">Drop Down Three</a></li> -->
          <!--              <li><a href="#">Drop Down Four</a></li> -->
          <!--              <li><a href="#">Drop Down Five</a></li> -->
          <!--            </ul> -->
          <!--          </li> -->
          <!--          <li><a href="/contact">Contact Us</a></li>-->
        </ul>
        <ul class="sf-menu">
          {% if name != "" %}
              <li style="margin:10px">
                  <a href="/account" style="text-decoration:none"><h2 
                  {% if selected == "account" %} 
                      style="color:#FE5202"
                  {% else %}
                      style="color:#00A008"
                  {% endif %}
                      >{{name}}</h2></a>
              </li>
              <li style="margin:10px">
                  <h6 style="color:white">Not you?<br>
                      <a href="/logout" >Logout</a></h6>
              </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <h1>Latest News</h1>
          <h2>New Website Launched</h2>
          <p>We've just moved to the world-wide-web so that we'll be even easier to find.</p>
        </div>
        <div class="sidebar">
          <h1>Special Offers</h1>
          <h2>Lawn Service Coupon</h2>
          <p>For the month of January, we are offering a 10% discount on <a href="/services">grass cutting services.</a></p>
        </div>
      </div>
      <div id="content">
        <ul class="slideshow">
          <li class="show"><img width="706" height="316" src="static/images/1.jpg" alt="image one" /></li>
          <li><img width="706" height="316" src="static/images/2.jpg" alt="image two" /></li>
          <li><img width="706" height="316" src="static/images/3.jpg" alt="image three" /></li>
          <li><img width="706" height="316" src="static/images/4.jpg" alt="image four" /></li>
          <li><img width="706" height="316" src="static/images/5.jpg" alt="image five" /></li>
        </ul>
        <div id="content_item">

            {% block content %}{% endblock %}

        </div>
      </div>
    </div>
    <footer>
        <p><a href="/">Home</a> | <a href="/about">About</a> | <a href="/rentals">Rentals</a> | <a href="another_page.html">Another Page</a> | <!--<a href="/contact">Contact Us</a>--></p>
      <p>Copyright &copy; CSS3_design_two | Photos by <a href="http://www.fotogrph.com">Fotogrph</a> | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
    </footer>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="static/js/jquery.sooperfish.js"></script>
  <script type="text/javascript" src="static/js/image_fade.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
  </script>
</body>
</html>
