{% extends "layout.html" %}

{% block content %}

    <h1>New resident creation page</h1>

    <h3>Create account</h3>
    <form method="POST" action="/">
        <p>name: <input type="text" name="user"/></p>
        <p>task: <input type="text" name="password"/></p>
        <p>task: <input type="text" name="address"/></p>
        <p><input type="submit"/></p>
    </form>

{% endblock %}
