{% extends "layout.html" %}

{% block content %}
    <h1>Our Available Units</h1>
    
    {% for trailer in trailers %}
        <p><strong>{{trailer.address}}</strong> {{trailer.size}} {{trailer.price}}&nbsp;

        {% if trailer.available %}
            <span style="color:blue;">Open for Rent </span>
        {% else %}
            <span style="color:red;">Already Rented </span>
        {% endif %}

        </p>

    {% endfor %}

{% endblock %}
