{% extends "layout.html" %}

{% block content %}

    <h1>Search</h1>

    {% if message != ''%}
        <p><span style="color:red">{{message}}</span></p>
    {% endif %}


        <h3>Search for stores around here</h3>
        <form method="POST" action="/search">
            <table>
                <tr><td><p>Search for: <input type="text" name="search" value="{{search}}" required/></td><td> <input type="submit" value="search"/></p></td></tr>
            </table>
        </form>
        {% if stores %}
            <h2>Stores</h2>
            <table>
                <tr><td>Store</td><td>Hours</td><td>Distance</td><td>Address</td></tr>
                {% for store in stores %}
                <tr><td>{{store.name}}</td><td>{{store.hours}}</td><td>{{store.distance}}&nbsp;mi.</td><td>{{store.address}}</td></tr>
                {% endfor %}
            </table>
        {% endif %}



{% endblock %}
