{% extends "layout.html" %}

{% block content %}

<h1>Services Offerred for Residents</h1>

    <p>We provide services for our seniors throughout the year to help make life
    at American Historyland as pleasant as possible.&nbsp;&nbsp;Below is a list
    of the services available and the estimated costs if applicable.</p>

    {% for service in services %}

        <p><b>{{service.name}}&nbsp;</b>Price:&nbsp;
            
        {% if service.price == "INCLUDED" %}
            ****{{service.price}}****
        {% else %}
            {{service.price}}
        {% endif %}
        </p>

    {% endfor %}

{% endblock %}
