{% extends "layout.html" %}

{% block content %}
  <script src="static/js/controller.js"></script>

    <h1>A Little Bit About Us</h1>
      <div class="container" ng-controller="ChatController">
  

          <div class="wrapper" >
              <header>
                  <h1>Chat</h1>
                  <p>Join the conversation <b>{{name}}</b></p>
                  <!--<p>Live chat the live feed</p>-->
                  <!--<p>Name:-->
                  <!-- <input type="text" ng-model="name" ng-change="setName()" placeholder="Username" size="14" /></p> -->
                  <div style="border : solid 2px #00D4E4; width : 400px; height : 200px; overflow : auto" class="scroll" id="msgpane">
                      <p ng-repeat="msg in messages">
                      <b ng-bind="msg.name"></b>:&nbsp;
                      <span ng-bind="msg.text"></span>

                      </p>


                  </div>

                  <form ng-submit="send()">

                      <input type="text" ng-model="text" size="30"  placeholder="type message here">
                      <!--<input type="submit"  value="Send" ng-disabled="!name">-->
                      <input type="submit"  value="Send" ng-disabled="!text">

                  </form>
              </header>
              <section>
          </div>
          <script src="static/js/scale.fix.js"></script>
      </div>

{% endblock %}
